@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee+Tint&family=Matemasie&display=swap');
@import url('https://unpkg.com/@uiw/reset.css/reset.css');

h1{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
}
header{
    background-color: darkorchid;
}
main{
    background-color: rgb(188, 136, 214);
}
aside{
    background-color: rgb(99, 24, 136);
}
footer{
    background-color: rgb(194, 71, 255);
}
/* diseño responsivo con media querier, tablet para arriba*/
@media(max-width: 600px){
        body{
    background: rgb(224, 142, 195);
    #container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr auto;
        height: 100vh;
        gap: 1rem;
    }
}
}
/* dISEÑO RESPONSIVO CON MEDIA QUERIES */
@media (min-width: 600px){
    /* body{ 
        background-color: rgb(224, 142, 195);
    }
}*/
#container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
    gap: 1rem;
    grid-template-areas: 
    "cabeza cabeza cabeza"
    "principal principal lado"
    "pie pie pie"
}
header{
    grid-area: cabeza;
}
main{
    grid-area: principal;
}
aside{
    grid-area: lado;
}
footer{
    grid-area: pie;
}
 }