@import url('https://fonts.googleapis.com/css2?family=Acme&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

/* HOLA DE CHAVITA BIEN QUE TOMA STARBUCKS 
main{
    padding: 8rem 5rem;
    border: 10px rgb(231, 175, 255) solid;
    margin: 5rem;
    border-radius: 2rem;
}*/

/* ejemplo de class y id 

.parrafo {
line-height: 1.5;
color: rgb(249, 175, 249);
font-family: 'Courier New', Courier, monospace;
}
*/

/* Css grid, mi reticula */
body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

header {
    background-color: rgb(180, 118, 239);
    grid-column-start: 1;
    grid-column-end: 4;
}
main{
    grid-column-start: 1;
    grid-column-end: 4;
    padding: 1rem;
}
footer{
    background-color: rgb(180, 118, 239);
    padding: 2rem;
    grid-column-start: 1;
    grid-column-end: 4;
}
/* estilos tipograficos */
h1{
    font-family: "Merriweather", serif;
    font-weight: 300;
    font-style: italic;
    font-size: 5rem;
    padding-bottom: 1rem;
}
p{
    font-family: "Merriweather", serif;
  font-weight: 300;
  font-style: italic;
  font-size: 1.2rem;
  line-height: 1.8;
  padding-bottom: 1rem;
}
/* estilos de navegacion */

nav{
    display: flex;
    justify-content: space-between;
}
header li{
    list-style: none;
    display: inline-block;
    padding: 0.1rem;
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
}
header a{
    text-decoration: none;
    color: rgb(50, 4, 93);
    transition: all .3s ease 0s;
}
header a:hover {
    color: rgb(179, 31, 164); 
}
figcaption{
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-style: italic;
    font-size: .8rem;
    padding: 1rem 0;
}
pre, cite {
    font-family: "Merriweather", serif;
    font-weight: 700;
    font-style: italic;
    line-height: 2;
}
cite{
    font-size: 2rem;
}
/*estilo de imagenes*/

img{
    object-fit: cover;
    width: 100%;
}
#logo{
    width: 120px;
}